# Secrets
secrets.json

# Runtime State
data/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/

# Mac
.DS_Store

# Node / Homebridge
node_modules/
.npm-cache/
homebridge/persist/
homebridge/accessories/
homebridge/.homebridge.sock
